.characters {
  &__search {
    display: block;
    box-sizing: border-box;
    width: 660px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 40px;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
    padding: 5px 15px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    box-sizing: border-box;
    width: 260px;
    margin-bottom: 20px;
    padding: 20px 10px;
  }

  &__item-img {
    position: relative;
    display: flex;
    align-items: center;
    width: 236px;
    max-height: 335px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      background-color: #000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: .3s;
    }

    &:hover {
      &:after {
        opacity: .3;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__item-name {
    text-align: center;
    padding: 5px 0;
  }
}
