.character-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .char {
    width: 1030px;
  }

  .character {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__img {
      display: flex;
      align-items: center;
      width: 310px;
      height: 360px;
      border: 2px solid #000;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 15px;

      img {
        display: block;
        width: 100%;
      }
    }

    &__info-block {
      max-width: 500px;
      padding-left: 20px;
    }

    &__info-item {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }
}
