header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  top: 0;

  .header {
    width: 1030px;
    height: 60px;
    margin: 0 auto;

    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 60px;

      &.auth {
        justify-content: space-between;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 40px;
      font-size: 18px;
      line-height: 22px;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
}
