@font-face {
  font-family: 'Stratos-Regular';
  src: url(../fonts/Stratos-Regular.eot);
  src: url(../fonts/Stratos-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Stratos-Regular.otf) format('otf'),
  url(../fonts/Stratos-Regular.ttf) format('truetype'),
  url(../fonts/Stratos-Regular.svg#Stratos-Regular) format('svg'),
  url(../fonts/Stratos-Regular.woff) format('woff'),
  url(../fonts/Stratos-Regular.woff2) format('woff2');
}
