@import "fonts.scss";

body {
  font-family: 'Stratos-Regular';
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #e8e8e8;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

main {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

h1 {
  font-size: 34px;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  margin: 0 0 30px 0;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #000;
  transition: .3s;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
