<template lang="pug">
  main
    Character(v-if="$auth.$state.loggedIn")
    p(v-else) Авторизируйтесь для дальнейшего просмотра!
</template>

<script>
import Character from '~/components/blocks/Character.vue'
export default {
  name: 'id',
  components: {
    Character
  },
}
</script>
