<template lang="pug">
  #app
    .page-wrapper
      Header
      router-view
      Footer
</template>

<script>
import Header from '~/components/blocks/Header.vue'
import Footer from '~/components/blocks/Footer.vue'
export default {
  name: 'Default',
  components: {
    Header,
    Footer
  }
}
</script>
