<template lang="pug">
  main
    Characters
</template>

<script>
import Characters from '~/components/blocks/Characters.vue'
export default {
  name: 'AllCharactersPage',
  components: {
    Characters
  }
}
</script>
