<template lang="pug">
  main
    .auth
      form(@submit.prevent="login")
        .auth__input
          .title Логин:
          input(type="text" placeholder="Введите логин" v-model="username")
        .auth__input
          .title Пароль:
          input(type="password" placeholder="Введите пароль" v-model="password")
        .links
          button.btn-back(type="submit") Войти
          nuxt-link.links__item(:to="{name: 'registration'}") Зарегистрироваться
</template>

<script>

export default {
  middleware: ['auth'],
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
      error: null
    }
  },
  computed: {
    redirect() {
      return (
        this.$route.query.redirect &&
        decodeURIComponent(this.$route.query.redirect)
      )
    },
    isCallback() {
      return Boolean(this.$route.query.callback)
    }
  },
  methods: {
    async login() {
      this.error = null

      return this.$auth
        .loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        })
        .catch(e => {
          this.error = e + ''
        })
    }
  }
}
</script>

<style lang="scss" src="~/assets/styles/page/auth.scss" scoped />
