<template lang="pug">
  main
    .auth
      form
        .auth__input
          .title E-mail:
          input(type="text" placeholder="Введите e-mail" v-model="email")
        .auth__input
          .title Логин:
          input(type="text" placeholder="Введите логин" v-model="username")
        .auth__input
          .title Пароль:
          input(type="text" placeholder="Введите пароль" v-model="password")
        .links
          button.btn-back(type="submit") Регистрация
          nuxt-link.links__item(:to="{name: 'login'}") Войти
</template>

<script>
export default {
  name: 'Registration',
  data () {
    return {
      email: '',
      username: '',
      password: ''
    }
  }
}
</script>

<style lang="scss" src="~/assets/styles/page/auth.scss" scoped />
