<template lang="pug">
  Loader(v-if="loader")
  .characters(v-else)
    input.characters__search(
      type="search"
      placeholder="Поиск персонажей"
      v-model="searchValue"
    )
    // Весь список
    .characters__items(v-show="!searchValue")
      .characters__item(v-for="item in getCharacters" :key="item.char_id")
        nuxt-link(:to="{name: 'character-id', params: {char_id: item.char_id} }")
          .characters__item-img
            img(:src="item.img")
          .characters__item-name {{item.name}}
    // Элементы поиска
    .characters__items(v-show="searchValue")
      .characters__item(v-for="item in searchValueShow" :key="item.char_id")
        nuxt-link(:to="{name: 'character-id', params: { char_id: item.char_id} }")
          .characters__item-img
            img(:src="item.img")
          .characters__item-name {{item.name}}
</template>

<script>
import Loader from '~/components/ui/Loader.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'Characters',
  components: {
    Loader
  },
  data () {
    return {
      searchValue: ''
    }
  },
  computed: {
    ...mapGetters([
      'getCharacters',
      'loader'
    ]),
    searchValueShow () {
      return this.getCharacters.filter((item) => {
        return item.name.toLowerCase().includes(this.searchValue.toLowerCase())
      })
    }
  },
  created () {
    this.$store.dispatch('createdCharacters')
  }
}
</script>

<style lang="scss" src="~/assets/styles/components/blocks/Characters.scss" scoped />
