<template lang="pug">
  Loader(v-if="loader")
  .character-wrapper(v-else)
    .char(v-for="item in character")
      h1 {{item.name}}
      .character
        .character__img-block
          .character__img
            img(:src="item.img")
          a.btn-back(href="/") Назад
        .character__info-block
          .character__info-item <b>Birthday:</b> {{item.birthday}}
          .character__info-item <b>Occupation:</b> {{item.occupation}}
          .character__info-item <b>Status:</b> {{item.status}}
          .character__info-item <b>Nickname:</b> {{item.nickname}}
          .character__info-item <b>Appearance:</b> {{item.appearance}}
          .character__info-item <b>Portrayed:</b> {{item.portrayed}}
          .character__info-item <b>Category:</b> {{item.category}}
</template>

<script>
import Loader from '~/components/ui/Loader.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Character',
  components: {
    Loader
  },
  data () {
    return {
      character: []
    }
  },
  computed: {
    ...mapGetters([
      'loader'
    ])
  },
  created () {
    this.fetchChar()
  },
  methods: {
    ...mapActions([
      'createdCharacter'
    ]),
    fetchChar () {
      this.createdCharacter(this.$route.params.char_id).then(character => {
        this.character = character
      })
    }
  }
}
</script>

<style lang="scss" src="~/assets/styles/components/blocks/Character.scss" scoped />
