<template lang="pug">
  header
    .header
      .header__inner.auth(v-if="$auth.$state.loggedIn")
        div {{$auth.user.name}}
        div.header__link(@click="$auth.logout();") Выйти

      .header__inner(v-else)
        nuxt-link.header__link(:to="{name: 'login'}") Войти
</template>

<script>

export default {
  name: 'Header',
}
</script>

<style lang="scss" src="~/assets/styles/components/blocks/Header.scss" scoped />
