.auth {
  box-sizing: border-box;
  width: 660px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;

  &__input {
    margin-bottom: 30px;

    .title {
      font-size: 22px;
      margin-bottom: 10px;
    }

    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      font-size: 18px;
      line-height: 22px;
      border: 1px solid #000;
      border-radius: 10px;
      outline: none;
      padding: 5px 15px;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
